.project-card {
  margin: 0.5em auto;
  border-radius: 3em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: rgb(162, 237, 212);
  animation-duration: 3s;
  animation-name: slide-in;
}

.project-description {
  margin: 0.5em 2em;
}

.project-photo {
  margin: auto;
  width: 10em;
}

.project-link-container {
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
}
