.description-container {
  margin: auto;
  margin-bottom: 3em;
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.my-description {
  margin: auto;
  text-align: justify;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    width: 90vw;
  }
}

.my-photo {
  margin: 1em auto;
  width: 16em;
}
/* border-radius: 8em;
box-shadow: 10px 5px 5px gray; */

.informations-container {
  margin: auto;
  margin-bottom: 3em;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.information {
  margin-left: 0;
}

.skills-container,
.languages-container {
  margin: auto;
  margin-bottom: 3em;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
  }
  @media only screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}

.skill,
.language {
  width: 10em;
}

.rates {
  display: flex;
  width: 10em;
  justify-content: space-between;
  animation-duration: 3s;
  animation-name: spacing-widened;
}

@keyframes spacing-widened {
  from {
    width: 5em;
  }
  to {
    width: 10em;
  }
}
.slow-element {
  animation-duration: 3s;
  animation-name: slide-in;
}
