.homepage {
  padding: 4em 0;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/background.jpeg");
  background-size: 100% 110vh;
}

.homepage-context-container {
  margin: auto;
  padding: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: slide-in;
}

.about-me-link {
  margin: 1em auto;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: white;
  font-weight: bold;
  background-color: var(--color-button);
  text-decoration: none;
}
