.filter {
  margin: auto;
  width: fit-content;
}

.fitler-button {
  margin: 1em auto;
  padding: 0.5em 1em;
  border: none;
  font-weight: bold;
  background-color: white;
}

.fitler-button:hover {
  background-color: var(--color-button);
  color: whitesmoke;
  border-radius: 2em;
}

.projects-container {
  margin: auto;
  width: 95%;
  display: grid;
  @media screen and (min-width: 769px) {
    margin: auto;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1000px) {
    margin: auto;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
