* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

:root {
  --color-background: #a5c2d5;
  --color-1: #486f88;
  --color-2: #29526d;
  --color-3: #123852;
  --color-4: #032236;
}

body {
  margin: 0px;
  background-color: var(--color-background);
}

header {
  margin: 0px;
  width: 100%;
  height: 3em;
  background-color: var(--color-1);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

h1 {
  color: var(--color-4);
  width: 10em;
  font-size: 2em;
  margin: auto;
  font-weight: bold;
  text-align: center;
}

nav {
  margin: 0px;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  top: 10px;
}

.link {
  margin: 0.5em;
  width: 7em;
  height: 2em;
  border: solid 2px black;
  border-radius: 1em;
  text-align: center;
  line-height: 1.5em;
}

main {
  margin-top: 0em;
  padding-top: 5em;
}

.my-foto {
  width: 30em;
}
/* 
#h1-2 {
  text-align: center;
  color: var(--color-4);
  line-height: 30px;
  font-size: 1em;
  margin: 20px auto;
}

#h1-3 {
  text-align: center;
  color: var(--color-4);
  text-transform: uppercase;
  font-size: 1em;
  margin: 20px auto;
}


#guide > a {
  padding: 10px 30px;
  color: var(--color-4);
  font-weight: bold;
}

.sections__dark {
  back-color: var(--color-0);
}

.sections__dark {
  back-color: var(--color-4);
}

#aboutme {
  margin: 50px;
  display: flex;
}

.skill-card {
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-left: 100px;
  margin: 50px 50px;
}

.button_link {
  width: 150px;
  padding: 8px;
  border: solid 2px black;
  text-align: center;
  font-size: 15px;
  background-color: rgba(146, 177, 229, 0.724);
}

.pictures {
  width: 350px;
  height: 300px;
  margin: 60px 0px 50px 50px;
  box-shadow: 20px 20px;
}

#skills {
  margin: 30px;
  background-color: rgba(146, 177, 229, 0.724);
  padding: 50px 100px;
  margin: 0px;
}

.each_skill {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  gap: 30px;
  padding-right: 50px;
}

.each_skill > div {
  padding: 30px 30px;
  color: rgb(118, 96, 96);
  background-color: rgba(206, 217, 236, 0.724);
  width: 30%;
  font-weight: bold;
}

#resume {
  background-color: rgba(206, 217, 236, 0.724);
  margin: 0px;
  padding: 50px 50px;
}

#project {
  background-color: rgba(146, 177, 229, 0.724);
  margin: 0px;
  padding: 50px 50px;
}

#contact {
  background-color: rgba(206, 217, 236, 0.724);
  margin: 0px;
  padding: 50px 50px;
}

.footerul {
  display: inline;
  border: 1px solid black; 
 */
