* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

:root {
  --color-background: #a5c2d5;
  --color-dake: #5c5b5b;
  --color-navbar: #dcd9d9;
  --color-bright: #e3ebef;
  --color-4: #032236;
}

body {
  margin: 0px;
  background-color: var(--color-bright);
}

header {
  margin: 0px;
  width: 100%;
  height: 4em;
  background-color: var(--color-navbar);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

h1 {
  color: var(--color-dake);
  width: 6em;
  font-size: 1.5em;
  margin: auto 0.5em;
  font-weight: bold;
  text-align: center;
}

nav {
  margin: 0px;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 10px;
}

.page-link {
  margin: auto 1em;
  height: 2em;
  color: var(--color-dake);
  font-weight: bold;
  text-decoration: none;
  border-radius: 1em;
  text-align: center;
  line-height: 1.5em;
}

.external-links {
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.icon {
  height: 1.5em;
  margin: 1em 0.5em;
}

main {
  margin-top: 0em;
  padding-top: 5em;
}

.my-foto {
  width: 30em;
}

footer {
  margin: 0px;
  width: 100%;
  height: 4em;
  background-color: var(--color-navbar);
  position: fixed;
  bottom: 0;
  text-align: center;
}

footer > p {
  font-size: 0.8em;
}
