* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

:root {
  --color-background: #a5c2d5;
  --color-dack: #5c5b5b;
  --color-navbar: #dcd9d9;
  --color-bright: #e3ebef;
  --color-button: #67c189;
}
p {
  margin: 8px auto;
}
body {
  margin: 0px;
  background-color: white;
}

header {
  margin: 0px;
  width: 100%;
  height: 4em;
  background-color: var(--color-navbar);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

main {
  width: 100%;
  margin: 0;
  padding-top: 4em;
  border: 0;
}

footer {
  margin: 0px;
  padding: 0.5em;
  width: 100%;
  height: 4em;
  background-color: var(--color-navbar);
  text-align: center;
}

footer > p {
  font-size: 0.8em;
  margin: 0.5em;
}

li {
  list-style: none;
}
ul {
  padding-left: 0;
}

h1 {
  margin: auto 0.5em;
  color: var(--color-dack);
  width: 6em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
  color: var(--color-dack);
}
h3 {
  margin-top: 2em;
  text-align: center;
  color: var(--color-button);
}

h4 {
  margin: 1em;
  text-align: center;
}

nav {
  margin: 0px;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 10px;
}

.page-link {
  margin: auto 1em;
  height: 2em;
  padding-top: 0.3em;
  color: var(--color-dack);
  font-weight: bold;
  text-decoration: none;
  border-radius: 1em;
  text-align: center;
  line-height: 1.5em;
}

.external-links {
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.icon {
  height: 1.6em;
  margin: 0.7em 0.5em;
}

/* style of homepage */

.homepage {
  padding: 4em 0;
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/background.jpeg");
  background-size: 100% 110vh;
}

.homepage-context-container {
  margin: auto;
  padding: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: slide-in;
}

.about-me-link {
  margin: 1em auto;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: white;
  font-weight: bold;
  background-color: var(--color-button);
  text-decoration: none;
}

/* animation */

@keyframes slide-in {
  from {
    margin-top: 100%;
    width: 100%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}
